<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%=client.user.username%></title>
    <meta name="description" content="myDash">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="myDash Dashboardt,myDash,myDash Discord" />
    <meta property="og:type" content="website">
    <meta name=”distribution” content=”global” />
    <meta name="theme-color" content="#7289da">
    <meta property="og:url" content="https://mydash.glitch.me/">
    <meta property="og:title" content="myDash Website">
    <meta property="og:site_name" content="MyDash">
    <meta property="og:description" content="myDash es un proyecto de aprendizaje iniciado por Crater, Proposito es aprender sobre el desarrollo de páginas web (Dashboard) y control de datos con la API de Discord (Bots de Discord).">
    <meta property="og:image" content="https://portalmybot.com/image/logo-dimencionando.png">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <!-- Compiled and minified CSS Materializecss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <div id="themeDiv"><link href="../css/black.css" rel="stylesheet" id="theme" /></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/changeTheme.js"></script>
  </head>
  <body> 