<%- include _head.ejs -%>
    <header>
      <%- include header.ejs -%>  
    </header>
    
    <main>
        
    </main>

    <footer>
      <%- include footer.ejs -%>  
    </footer>

<%- include _footer.ejs -%>