<%- include _head.ejs -%>

    <main>
      <div class="container center-align mt-3">
          <h2>
            <p >
              <i class="material-icons error-icon animate">error_outline </i>
            </p>
            
            Upps! Ocurrio un error  
          </h2>
          <p class="color-discord">
             La pagina que intentabas buscar, no esta disponible o no tienes acceso a ella
          </p>
          <a href="/" class="waves-effect btn-large bg-btn"><i class="material-icons left">reply</i>Volver</a>
      </div>
    </main>

    <footer>
      <%- include footer.ejs -%>  
    </footer>

<%- include _footer.ejs -%>