<%- include _head.ejs -%>
    <header>
<%- include header.ejs -%>  
    </header>
    
    <main>
          <div class="col s12 center-align"> 
            <img class="responsive-img  img-index" src="https://giant.gfycat.com/SolidEsteemedJerboa.gif">
            <p>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!<br>
              Ho ho ho ha ha ho ho ho he he ha, hello there ol' chum, i'm gnot a gnelf, i'm gnot a gnobling, i'm a gnome, and you've been GNOMED!
            </p>
          </div>
     
    </main>
    <footer>
      <%- include footer.ejs -%>  
    </footer>

<%- include _footer.ejs -%>
<!-- easter egg de Ù¼ð•¶ð–†ð–“ð–™ð–Žð–’ð–•ð–‘ð–”ð–—ð–†Ù¼#3932 xde **https://mydash.glitch.me/whoo**-->